@{
    ViewData["Title"] = "Home Page";
}

@model BooksListViewModel

    <h1>Some books that are cool</h1>

    @foreach (Book b in Model.Books)
    {
        <h3>@b.Title</h3>

        <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.Isbn</li>
            <li>Classfication: @b.Classification</li>
            <li>Category: @b.Category</li>
            <li>Number of page: @b.PageCount</li>
            <li>Price: : $ @b.Price</li>
        </ul>

    }

<div page-model="@Model.PaginationInfo" page-action="Index"></div>
