@model Book

<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card m-2 p-2" style="width: 21rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Author: @Model.Author</h6>
            <p class="card-text">Publisher: @Model.Publisher</p>
            <p class="card-text">ISBN: @Model.Isbn</p>
            <p class="card-text">Classification: @Model.Classification</p>
            <p class="card-text">Category: @Model.Category</p>
            <p class="card-text">Number of Pages: @Model.PageCount</p>
            <p class="card-text">Price: $@Model.Price</p>
        </div>
    </div>
</div>
